<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />	
	
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- Log message format -->
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
		 <!-- <encoder class="com.newrelic.logging.logback.NewRelicEncoder"/> -->
	</appender>
	
	
	
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	<logger name="org.springframework" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache.camel" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.sap" level="DEBUG">
		<appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.cts" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.oup" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.oup" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.drools" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>